body{background:#020617;color:white;font-family:Arial;text-align:center}
header{padding:15px;background:#0f172a}
input,button{padding:10px;margin:5px;border-radius:10px;border:none}
button{background:#22c55e;color:white}
.box{margin-top:30px}
.apps{margin-top:50px}
